@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@300&display=swap');
* {
    box-sizing: border-box;
}


/* lets see what this wrapper can do */

.wrapper {
    padding: 20px 0 20px 0;
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 20px;
    background-color: #ef874e;
}

body {
    background-color: blue;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#logo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4em;
}