*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color:darkslategray;
    padding: 10px;
    display:flex;
    flex-direction: row-reverse;
}

.item1 {
    background-color: blue;
    padding: 40px;
    margin: 30px;
    color:coral;
    font-size: 40px;
}

.item2 {
    background-color:darksalmon;
    padding: 40px;
    margin: 30px;
    color:coral;
    font-size: 40px;
}

.item3 {
    background-color:darkmagenta;
    padding: 40px;
    margin: 30px;
    color:coral;
    font-size: 40px;
}

.item4 {
    background-color: white;
    padding: 40px;
    margin: 30px;
    color:coral;
    font-size: 40px;
}